@use "../../abstracts/" as *;
@import "rfs/scss";

$tab-height: 2rem;
$tab-width: 5rem;
$tab-width-f: 8rem;
$tab-height-f: 4rem;

.container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.tab {
  border: none;
  padding: 0.5rem 0.8rem;
  background-color: inherit;
  text-align: start;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;

  max-width: $tab-width-f;
  width: $tab-width-f;
  height: $tab-height;
}

.indicator {
  position: absolute;
  background-color: $primary-color;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  max-width: $tab-width-f;
  transition: transform 300ms ease-in-out;
  transform: translateX(calc(var(--ind-index) * $tab-width-f));
}

@media screen and (max-width: 600px) {
  .tab {
    max-width: $tab-width;
    width: $tab-width;
  }
  .indicator {
    max-width: $tab-width;
    transform: translateX(calc(var(--ind-index) * $tab-width));
  }
}
