@use "../../abstracts/" as *;
@import "rfs/scss";

.input-container {
  position: relative;
}

.label {
  position: absolute;
  left: 5px;
  top: 18px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: black;
}
.text-input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid $black-75;
  background: #fff;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: $black-100;
}

.label::before {
  content: "";
  height: 5px;
  background: #fff;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.text-input:focus {
  border: 2px solid $primary-color;
}

.text-input:focus + .label {
  top: -10px;
  color: $primary-color;
  font-size: 21px;
}

.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}
.text-input:focus::placeholder {
  opacity: 1;
}

.text-input:not(:placeholder-shown) + .label {
  top: -30px;
  color: $primary-color;
  font-size: 21px;
}

.text-input:not(:placeholder-shown) + .label::before {
  background: transparent;
}

@media screen and (max-width: 600px) {
  .text-input {
    font-size: 12px;
    padding: 0.6rem;
  }

  .text-input::placeholder {
    font-size: 12px;
  }

  .label {
    left: 5px;
    top: 8px;
    padding: 0 2px;
  }

  .text-input:focus + .label {
    font-size: 16px;
  }

  .text-input:not(:placeholder-shown) + .label {
    font-size: 16px;
    top: -25px;
  }

  .label {
    font-size: 16px;
  }
}
