// .container {
//   // display: flex;
//   // flex-direction: column;
//   // gap: 160px;
//   // margin-bottom: 128px;
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 32px;
// }

// // @media screen and (max-width: 800px) {
// //   .container {
// //     gap: 96px;
// //   }
// // }

// // @media screen and (max-width: 400px) {
// //   .container {
// //     gap: 64px;
// //   }
// // }

.menu-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  display: none;
  animation: overlayFadeIn 1200ms;
}

@keyframes overlayFadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
