@use "../../../abstracts/" as *;
@import "rfs/scss";

// .container {
//   display: flex;
//   flex-direction: column;
//   gap: 32px;
// }

.list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.inner-container {
  // max-width: 880px;
  // margin: 0 auto;
  min-height: 400px;
  // padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s;
}

.role-container ul > li {
  list-style: none;
  padding: 5px 0;
}

.bullet {
  font-size: 36px;
  font-weight: bold;
  color: $primary_color;
  vertical-align: bottom;
  ///=======
  height: getFontSize(0);
  display: flex;
  align-items: center;
}

// .carousel-img {
//   // height: 300px;
//   height: 500px;
//   width: 100%;
//   position: relative;
// }

.image-container {
  position: relative;
  height: 500px;
}

.resp-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 32px 0;
  }
  .bullet {
    font-size: 20px;
    height: getFontSize(-1);
  }
  .inner-container *:not(h2):not(.bullet) {
    @include font-size(getFontSize(-1));
    line-height: getLineHeight(-1);
  }

  .role-container > ul > li {
    margin-bottom: 0.2rem;
  }

  .carousel-img {
    height: 250px;
  }

  .resp-list {
    grid-template-columns: 1fr;
  }
  .image-container {
    height: 250px;
  }
}

// @media screen and (max-width: 600px) {
//   .inner-container {
//     grid-template-columns: 1fr;
//   }
// }
