@use "../../abstracts/" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 64px;

  top: 0;
  position: sticky;
  width: 100%;
  z-index: 2;
  background-color: white;

  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}

.logo {
  width: 150px;
  height: 60px;
  position: relative;
}

.nav-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-link-container {
  height: 100%;
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-social-container {
  height: 100%;
  display: flex;
  gap: 32px;
  align-items: center;
}

.burger {
  display: none;
}

.nav-link-icon {
  display: none;
}

.nav-link {
  display: flex;
  gap: 32px;
  color: $primary-color;
  text-decoration: none;
  text-transform: capitalize;

  align-items: center;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .nav-social-container {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 32px;
    height: 60px;
  }
  .burger {
    display: block;
    z-index: 2;
  }

  .nav-link-container {
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    padding: 100px 0;
    width: 0px;
    overflow: hidden;
    max-width: 768px;
    background-color: aqua;
    -webkit-transition: width 400ms ease-in-out;
    -moz-transition: width 400ms ease-in-out;
    -o-transition: width 400ms ease-in-out;
    transition: width 400ms ease-in-out;
    height: min-content;

    //-----
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0.4rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  // .nav-link-container ::before {
  //   content: "";
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100vh;
  //   z-index: -1;
  //   background-color: rgba(9, 9, 9, 0.5);
  // }

  .nav-link-container.menu-active {
    // right: 0;
    width: 100%;
  }

  .nav-link-icon {
    display: block;
  }

  .nav-link,
  .nav-social-container {
    width: 100%;
    padding: 10px 32px;
  }

  .nav-social-container {
    display: flex;
    height: min-content;
  }

  .logo {
    width: 100px;
    height: 40px;
  }
}
