@use "../../../abstracts/" as *;
@import "rfs/scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
  // padding: 0 32px;
  // height: 100vh;
  height: calc(100svh - 100px);

  justify-content: center;
  // max-width: 900px;
  // margin: 0 auto;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 96px;
  align-items: center;
  max-width: 531px;
}

.message p {
  color: $black-75;
}

@media screen and (max-width: 768px) {
  .message p {
    @include font-size(getFontSize(-1));
    line-height: getLineHeight(-1);
  }
  .container {
    height: calc(100svh - 60px);
  }
}
