@use "../../../abstracts/" as *;
@import "rfs/scss";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 128px;
}

.text {
  display: flex;
  flex-direction: column;
  // align-items: center;
  text-align: center;
  gap: 32px;
  max-width: 487px;
}

.text p {
  color: $black-75;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  row-gap: 64px;
}

.work-img-container {
  height: 400px;
  width: 100%;
  position: relative;
  order: var(--order);
}

.work-content-container {
  order: var(--order);
}

.work-tech-project-container {
  display: flex;
  flex-wrap: wrap;
  // margin: 40px 0;
  gap: 10px;
  list-style: none;
  color: $primary-color;
  justify-content: var(--tech-justify);
}

.work-tech-project {
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid;
  border-color: $primary-color;
}

.work-text {
  display: flex;
  flex-direction: column;
  // align-items: center;
  text-align: center;
  gap: 32px;
  max-width: 487px;
  text-align: var(--text-align);
}

.work-text p {
  color: $black-75;
}

.extra-content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: var(--extra-justify);
}

@media screen and (max-width: 768px) {
  .container {
    gap: 96px;
  }

  .text p {
    padding: 0 32px;
    @include font-size(getFontSize(-1));
    line-height: getLineHeight(-1);
  }

  .work-container {
    grid-template-columns: 1fr;
    row-gap: 64px;
  }

  .work-img-container {
    height: 250px;
    order: 0;
  }

  .work-tech-project {
    font-size: 12px;
    padding: 4px 8px;
  }

  .work-content-container {
    order: 0;
  }
  .work-text {
    align-items: center;
    text-align: center;
  }
  .work-tech-project-container {
    justify-content: center;
  }
}
